@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-bg-app text-text-primary min-h-screen flex flex-col;
}

#root {
  @apply w-full max-w-[1200px] mx-auto p-8;
}
